.table-heading {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #2f9e44;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.tabular {
  padding-bottom: 3rem;
}

@media (max-width: 35em) {
  .heading {
    font-size: 1.5rem;
  }

  .table-heading {
    font-size: 1.3rem;
  }
}
